body {
    background: #d9eefc;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main {
    box-shadow: 0 0 17px 0 #47859c;
}
/***Start of Navigation bar***/
.navbar-brand {
    color: #68a4c7 !important;
    font-size: 2.2em;
    font-weight: 900;
}

.nav-link {
    font-size: 1.2em;
    color: #154861 !important;
}

.nav-link:hover {
color: rgb(94, 134, 134) !important;
}

.navbar-toggler {
    border: none;
    padding: 0;
}
/***End of Navigation bar***/
/***Start of About section***/
.about-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    text-align: center;
}

.about-heading h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #154861;
}

.about-heading .second-h2 {
    color: #68a4c7;
}

.about-first-part {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-image {
    height: 3.2rem;
}

.about-description {
    padding-top: 2.4rem;
    line-height: 1rem;
    color: #154861;
}

.about-button {
    padding-top: 2.4em;
}

.btn {
    color: #fff!important;
    background: #68a4c7;
    border: none;
}

.btn:hover {
    color: #154861 !important;
    background: transparent;
    border: 1px solid;
}
/***End of About section***/
/*** Start of Project section ***/
.project-container {
    padding-top: 5rem;
    background-color: hsl(212, 100%, 94%);
    align-items: center;
}

.project-container h2 {
    text-align: center;
    margin-bottom: 5rem;
    color: #154861;
}

.card {
    margin-bottom: 4rem;
    box-shadow: 5px 8px 16px -5px rgba(0,0,0,0.82);
    border-radius: 10px;
}

.card-btn {
    color: #154861 !important;
    background: transparent;
    border: 1px solid ;
}

.card-body p{
color: #2f5063;
}
/*** End of Project section ***/

